body {
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
}

fieldset {
    height: 40px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

div {
    margin-top: 1em;
}

a {
    margin: 1em;
}