h1 {
    font-size: 6em;
    font-family: sans-serif;
    margin-bottom: 0.2em;
}

body {
    text-align: center;
}

p {
    margin-left: auto;
    margin-right: auto;
}

img {
    border: 2px solid blue;
    margin: 0.8em;
}

figcaption {
    font-weight: bold;
}

.blue {
    background: blue;
    width: 300px;
    height: 100px;
    border-top: 1px solid black;
    margin-top: 3em;
    margin-bottom: 0em;
    padding-top: 15px;
}

.yellow {
    background: yellow;
    width: 300px;
    height: 100px;
    border-top: 1px solid black;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 15px;
}

.red {
    background: red;
    width: 300px;
    height: 100px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 0em;
    padding-top: 15px;
}

.blue::first-line {
    font-size: 3em;
}

.yellow::first-line {
    font-size: 3em;
}

.red::first-line {
    font-size: 3em;
}