body {
    font-family: Arial, Verdana, sans-serif;
	background-color: rgb(255,218,185);
}

p {
	text-indent: 1em;
}

p.copyright_notice {
    font-size: 0.8em;
}

h2 {
    color: rgba(65,105,225,0.7);
    font-weight: bold;
}

h1 {
    font-size: 2.0em;
    color: rgba(65,105,225,0.7);
    font-weight: bold;
}

figcaption {
	font-size: 0.7em;
	font-weight: bold;
}

ul, ol {
    font-size: 0.8em;
	border: 1em;
	text-indent: 1em;
}

li {
	color: rgb(169,169,169);
}


#special {
    font-size: 0.8em;
    color: yellowgreen;
    font-style: italic;
    border-left: 2px solid black;
    margin-left: 40px;
    padding-left: 10px;
}

pre { 
    font-family: monospace; 
    background-color: rgb(211,211,211);
    padding: 0.8em;
}