body {
    font-family: Arial, Verdana, sans-serif;
    background-color: white;
}

p {
    text-align: center;
}

#firstline {
    background-color: red;
    color: white;
}

#thirdline {
    background-color: rgb(211,211,211);
}

.firstcolumn {
    font-weight: bold;
}

caption {
    font-weight: bolder;
    letter-spacing: 2px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 0.2em;
}

td {
    padding-right: 0.5em;
    padding-left: 0.3em;
}

table {
    border: 1px solid;
}

