	body {
	    font-family: sans-serif;
	}
	
	#content-wrapper{
		display:table;
  		width:100%;
  		height:100%;
  		top:85px;
  		left:0px;
  		/*position:absolute;*/
		}

	#left{
  		width:50%;
  		height: 450px;
  		text-align: center;
  		top:100px;
  		padding-top: 10px;
  		background:black;
  		float: left;
		}

	#right{
  		background: gray;
  		vertical-align: text-top;
  		text-align: center;
  		top:80px;
  		width:50%;
  		float: right;
  		height:205px;
  		padding-bottom: 1em;
		}

	#right2{
		vertical-align: text-top;
		text-align: left;
		padding-top: 0.5em;
	}

  	#javascript{
    	text-align: right;
    	vertical-align: bottom;
    	font-size: 12px;
    	padding: 10px;
  	}

	i {
		color: white;
		padding-right:20px;
		padding-left:20px;
	}
	
	b {
	    font-size: 1.2em;
	}

	h3 {
		padding-left:20px;
		color: white;
	}
	
	h2 {
	    font-size: 1.7em;
	}

	p {
		color: white;
	}

	li {
		color: white;
	}
	
	table, caption {
	    background-color: gray;
	    padding: 0.2em;
	}
	
	caption {
	    margin-top: 0.5em;
	}

#everything {
	margin: auto;
	width: 1000px;
	min-height: 100%
	
}

/*Top bar*/
#row {
	width: 1170px;
	overflow: hidden;
	margin: auto;
	padding-top: 12px;
	margin-bottom: 20px;
	text-align: center;
	z-index: 30;
	}

#row ul {
	list-style-type: none;
	padding: 0px; 
	margin: 0px;
	overflow: hidden;
}

#row li {
	margin: 0px;
	padding: 0px;
	float: right;
	list-style: none;
	width: 130px; /*Width of one box*/
}

#row li a {
	text-decoration: none;
	background: #625D5D;
	color: #FFFFFF;
	margin: 0 1px 0 0;
	padding-top: 12px;
	padding-bottom: 13px;
	font-family: Verdana;
	font-size: 12px;
	text-align: center;
	display: block;
}

#row li a:hover {
	text-decoration: underline;
}